@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}
@media screen and (min-width:1500px){
    .baslik_ul{
        margin-left: 350px;
    }
} 


.ss_buton {
    border-radius: 50%; /* Yuvarlak alan oluşturur */
    color: rgb(98, 98, 202); /* Mavi renk */
    background-color: rgb(27, 119, 55); 
}